<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" gameid=<%=gameId %> />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script defer src="./js/game.js"></script>
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>


  <div id="game-board" class="grid-container">
    <div id="box-0" class="grid-item"></div>
    <div id="box-1" class="grid-item"></div>
    <div id="box-2" class="grid-item"></div>
    <div id="box-3" class="grid-item"></div>
    <div id="box-4" class="grid-item"></div>
    <div id="box-5" class="grid-item"></div>
    <div id="box-6" class="grid-item"></div>
    <div id="box-7" class="grid-item"></div>
    <div id="box-8" class="grid-item"></div>
  </div>
</body>

</html>